/* About skills styles */

/* Background */
.skills-item{
  background-color: var(--navbar-bg-color);
}

/* Font */
.skills-item{
  font-family: 'Armata', sans-serif;
  font-size: 0.9em;
}

@media only screen and (max-width: 640px) {
  .skills-item {
    font-size: smaller;
  }
}